
<form #f="ngForm"
    (ngSubmit)="addArticle($event,newtitle,newlink)"class="ui form clearing segment">
  <h3 class="ui header">Add a Link</h3>
  <div class="field">
    <label for="title">Title:</label>
    <input name="title" placeholder="title" ngControl="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" placeholder="link" ngControl="link" #newlink>
   </div>
  <button type = "submit" 
            class="ui right floated  button">
            Submit link
   </button>
</form>
