
.ui.form.segment{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color:#be7b08;
    margin-top: 10%;
}
.ui.right.floated.button{
    background-color: #2ECC71;
    border-color: #2ECC71;
    color: #ffffff;
}
.ui.segment{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.kiki{
   width:700px;
}